.sidenav{
    max-width: 60%;
    padding: 10px;
    font-size: 11px;
    background-color: #292828;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.8);
    color: #fafafa;
}
.nav-bar{
    background-color: #292828;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.8);
}
.heading{
    font-family: Roboto Mono,monospace;
    margin-top: 10px;
}
.app-body{
    line-height: 25px;
    letter-spacing: 0.9px;
    color: #fafafa;
}
.app-card{
    color: #fafafa;
    transition: box-shadow .3s;
    border-radius: 20px;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.6);
    /* box-shadow: -0.1rem 0.6rem 2.8rem */
    margin-top: 36px;
    background-color: #292828;
};
a:hover {
    cursor:pointer;
}
.para{
    font-size: 1.2vm;
    line-height: 27px;
    word-wrap: break-word;
    white-space: initial;
}
.parallax {
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.head-font{
    font-size: 11px !important;
}
.colors{
    color: #fafafa !important;
}